<div class="border-bottom job-card-container p-2">
  <div class="job-header d-flex flex-wrap align-items-center mb-2">
    <img
      #companyLogo
      (error)="companyLogo.src = 'assets/img/job-posting-img.png'"
      [src]="job.company?.logo || 'assets/img/job-posting-img.png'"
      alt="company-logo"
      class="d-none d-sm-inline-block me-1 company-logo"
    >
    <span class="fw-bold grey overflow-ellipsis pe-2 text-uppercase">{{job.company?.name}}</span>
    <span>
      <span class="d-none d-sm-inline pe-2">•</span>
      <span class="pe-2">{{job.location}}</span>
      <span class="d-none d-sm-inline pe-2">•</span>
    </span>
    <app-contract-type [type]="job.contractType"></app-contract-type>
    <ng-container *ngIf="job.createdAt">
      <span class="d-none d-sm-inline ps-2">•</span>
      <span class="ps-2">
        <app-date-timelapse [date]="job.createdAt"></app-date-timelapse>
      </span>
    </ng-container>
  </div>
  <div class="job-body row col justify-content-between mt-3">
    <div class="job-infos col-12 col-lg-7 col-xl-8">
      <h3 class="text-wrap pb-1 text-dark fw-bold m-0 mb-1">
        <a routerLink="/{{univers.JOBS.url}}/{{job.id}}">{{job.title}}</a>
      </h3>
      <p
        [innerHTML]="job.shortDescription"
        class="text-justify"
      >
      </p>
    </div>
    <div class="job-options align-self-end mb-4 col-12 col-lg-5 col-xl-4 col-xxl-auto">
      <button
        (click)="addToJobBoard()"
        *ngIf="!job.apply; else jobIsApply"
        class="btn btn-primary fw-bold w-100 px-xxl-5"
        id="jobCardToBoardButton-{{job.id}}"
      >
        <i
          [ngClass]="{'fa-plus': !isLoading, 'fa-circle-notch fa-spin': isLoading}"
          class="fas me-2"
        >
        </i>
        Ajouter au jobBoard
      </button>
      <ng-template #jobIsApply>
        <p>L'offre est ajouté au jobBoard</p>
      </ng-template>
    </div>
  </div>
</div>
