<div>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-xl-5 text-center">
      <img
        alt="banner"
        class="img-fluid"
        src="assets/img/banner.jpg"
      >
    </div>

    <div class="col-12 col-md-4 text-center align-self-center summary">
      <h2 class="text-center mt-5 heading">Implic’<span class="text-danger fst-italic">action</span></h2>
      <p class="subheading text-uppercase mb-4">Une association qui vous accompagne grâce à sa dynamique réseau !</p>
      <p>Pour partager, échanger, préparer dans un seul but commun : réussir votre reconversion !</p>

      <p>Depuis sa création en 2009, l’association n’a cessé de compter davantage de membres. Sa présence territoriale
        s’est aussi étendue par la présence des groupes régionaux et la signature des partenariats.</p>

      <p>S’adaptant à la situation sanitaire Covid19, les membres d’Implic’Action poursuivent leurs actions sur le
        terrain mais également en visioconférence !</p>

      <p>Consultez le calendrier des événements pour vous inscrire et participer aux réunions !</p>
      <button class="btn btn-primary mt-2">Adhérer à l'association</button>
    </div>
  </div>

  <div class="row custom-mt key-points">
    <div class="col-12 text-center">
      <h2 class="heading">
        <span class="heading-part">Implic’</span>
        <span class="heading-part text-danger fst-italic">action, </span>
        <span class="heading-part text-danger">c'est...</span>
      </h2>
      <div class="row justify-content-evenly align-self-center mt-3 mt-sm-5 px-2 px-sm-5">
        <div class="col-lg-3 col-md-6 mb-2 justify-content-center">
          <img
            alt="reseau"
            class="img-fluid img-intro"
            src="assets/img/reseau.png"
          >
          <p class="ahead network">Un réseau</p>
          <p class="a-subhead mt-4">Un réseau d’anciens militaires et civils des armés reconvertis ou en phase de
            reconversion
            partageant leur expérience et leurs connaissances</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-2">
          <img
            alt="dynamique"
            class="img-fluid img-intro"
            src="assets/img/dynamique.png"
          >
          <p class="ahead dynamic">Une dynamique</p>
          <p class="a-subhead mt-4">Une dynamique simple mais efficace répartie sur l’ensemble du territoire, au coeur
            des zones de Défense et des bassins d’emploi</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-2">
          <img alt="forum" class="img-fluid img-intro" src="assets/img/forum.png">
          <p class="ahead forum">Un forum</p>
          <p class="a-subhead mt-4">Un espace d’échanges, des réponses à vos questions sur différents sujets
            liés aux métiers, aux dispositifs de reconversion …</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row custom-mt latest-section">
    <div class="row m-0 p-1">
      <div class="col-md-6 px-2 px-sm-5 px-md-2 ps-lg-5 p-xl-5">
        <div class="d-flex align-items-start justify-content-between mb-3">
          <h2 class="text-start align-self-center sub-heading">Prochains <span class="text-danger">événements</span>
          </h2>
          <a class="btn btn-primary">
            Tout voir
          </a>
        </div>
        <div
          *ngFor="let event of events"
          class="latest-events-list"
        >
          <app-event-card [event]="event"></app-event-card>
        </div>
      </div>

      <div class="col-md-6 px-2 px-sm-5 px-md-2 pe-lg-5 p-xl-5">
        <div class="d-flex align-items-start justify-content-between mb-3">
          <h2 class="text-start align-self-center sub-heading">Dernières <span class="text-danger">publications</span>
          </h2>
          <a class="btn btn-primary" id="home-all-posts-btn" routerLink="/{{univers.DISCUSSIONS.url}}">
            Tout voir
          </a>
        </div>
        <div class="latest-posts-list">
          <app-post-list></app-post-list>
        </div>
      </div>
    </div>

    <div class="col-md-12 px-sm-5 px-md-2 px-lg-5 mt-3">
      <div class="d-flex align-items-start justify-content-between mb-3">
        <h2 class="text-start align-self-center sub-heading">Nouvelles <span
          class="text-danger">offres</span></h2>
        <a class="btn btn-primary" routerLink="/{{univers.JOBS.url}}">
          Tout voir
        </a>
      </div>
      <app-job-list></app-job-list>
    </div>
  </div>
  <div>
  </div>
</div>
