<nav class="py-2 bg-white border-bottom">
  <div class="navbar-expand-lg d-flex flex-column flex-sm-row align-items-center justify-content-between mx-md-5">
    <div class="mb-2 mb-sm-0">
      <a
        [routerLink]="univers.HOME.url"
        class="align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none"
      >
        <img
          alt="implicaction"
          class="img-fluid"
          src="assets/img/logo_implicaction.png"
        >
      </a>
    </div>
    <ul class="d-none d-lg-inline-flex justify-content-between nav align-items-center">
      <li *ngFor="let u of allowedUnivers">
        <a
          [routerLinkActiveOptions]="{exact: u === univers.HOME}"
          [routerLink]="[u.url]"
          class="nav-link px-3"
          routerLinkActive="theme-primary active fw-bold"
        >
          {{u.title}}
        </a>
      </li>
    </ul>
    <ng-container *ngIf="isLoggedIn; else registrationOptions">
      <div class="d-flex justify-content-end">
        <ul class="nav align-items-center user-options me-sm-5 me-md-0">
          <li class="nav-item">
            <i-feather class="icon" name="bell"></i-feather>
          </li>
          <li class="nav-item">
            <i-feather class="icon" name="users"></i-feather>
          </li>
          <li class="nav-item">
            <i-feather class="icon" name="inbox"></i-feather>
          </li>
          <li class="nav-item">
            <a
              aria-expanded="false"
              class="d-block link-dark text-decoration-none dropdown-toggle cursor-pointer"
              data-bs-toggle="dropdown"
              id="dropdownUser2"
            >
              <img
                #userImage
                (error)="userImage.src = constant.USER_IMAGE_DEFAULT_URI"
                [src]="currentUser.imageUrl || constant.USER_IMAGE_DEFAULT_URI"
                alt="avatar de {{currentUser.username}}"
                class="rounded-circle shadow-sm avatar"
              >
            </a>
            <ul
              aria-labelledby="dropdownUser"
              class="dropdown-menu text-small dropdown-user shadow m-0"
            >
              <li *ngIf="currentUser">
                <span
                  class="dropdown-item fw-bold cursor-default background-transparent">@{{currentUser.username}}</span>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li *ngIf="currentUser && displayProfile">
                <a
                  class="dropdown-item cursor-pointer"
                  id="headerProfileBtn"
                  routerLink="/{{univers.USERS.url}}/{{currentUser.id}}/profile"
                >
                  Profil
                </a>
              </li>
              <li><a class="dropdown-item cursor-pointer">Réglages</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li *ngIf="isAdmin">
                <a
                  [routerLink]="univers.ADMIN.url"
                  class="dropdown-item cursor-pointer"
                >
                  Admin
                </a>
              </li>
              <li><a (click)="logout()" class="dropdown-item cursor-pointer">Se déconnecter</a></li>
            </ul>
          </li>
        </ul>
        <div class="position-absolute end-0">
          <button
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler d-lg-none"
            data-bs-target="#BurgerMenuUniversList"
            data-bs-toggle="collapse"
            type="button"
          >
            <span class="fas fa-bars"></span>
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #registrationOptions>
      <ul class="nav align-items-center user-options">
        <li class="nav-item">
          <a class="btn btn-outline-primary" id="headerLoginBtn" routerLink="/auth/login">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" routerLink="/auth/sign-up">S'inscrire</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>

<!--Elements du burger menu-->
<div class="collapse d-lg-none" id="BurgerMenuUniversList">
  <div class="bg-light shadow-3">
    <ul class="nav d-flex flex-column align-items-center">
      <li *ngFor="let u of allowedUnivers" class="d-block w-100 text-center">
        <a
          [routerLinkActiveOptions]="{exact: u === univers.HOME}"
          [routerLink]="[u.url]"
          class="nav-link px-4"
          routerLinkActive="theme-primary active fw-bold"
        >
          {{u.title}}
        </a>
      </li>
    </ul>
  </div>
</div>
