<section class="vh-100 mt-xl-5">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-start">
      <div class="col-md-9 col-lg-6 col-xl-5 mb-4 pt-5">
        <img
          alt="Connexion"
          class="img-fluid"
          src="assets/img/hand-shake.png"
        />
      </div>

      <div class="col-md-9 col-lg-6 col-xl-4 offset-xl-1">
        <div class="divider d-flex align-items-center my-4">
          <p class="text-center mx-3 mb-0 fs-2">Connexion</p>
        </div>
        <form
          (ngSubmit)="login()"
          [formGroup]="loginForm"
        >

          <!-- USERNAME -->
          <div class="form-floating mb-4">
            <input
              autofocus
              class="form-control form-control-lg"
              formControlName="username"
              id="floatingUsername"
              placeholder="Enter a valid email address"
              required
            />
            <label
              class="form-label"
              for="floatingUsername"
            >
              Nom d'utilisateur
            </label>
          </div>

          <!-- PASSWORD -->
          <div class="form-floating mb-3">
            <input
              class="form-control form-control-lg"
              formControlName="password"
              id="floatingPassword"
              placeholder="mot de passe"
              required
              type="password"
            />
            <label
              class="form-label"
              for="floatingPassword"
            >
              Mot de passe
            </label>
          </div>

          <!-- OPTIONS -->
          <div class="d-flex justify-content-between align-items-center">

            <!-- REMEMBER ME -->
            <div class="form-check mb-0">
              <input
                class="form-check-input me-2"
                id="rememberMe"
                type="checkbox"
              />
              <label
                class="form-check-label"
                for="rememberMe"
              >
                Se souvenir de moi
              </label>
            </div>

            <!-- FORGOT PASSWORD -->
            <a
              class="text-body"
              href="#"
            >
              J'ai oublié mon mot de passe
            </a>
          </div>

          <!-- SUBMIT -->
          <div class="text-center text-lg-start mt-4 pt-2">
            <div class="d-grid gap-2 ">
              <button
                [disabled]="isLoading"
                class="btn btn-primary btn-lg"
                id="floatingConnection"
                type="submit"
              >
                <span
                  *ngIf="isLoading"
                  aria-hidden="true"
                  class="spinner-border spinner-border-sm"
                  role="status"
                >
                </span>
                Connexion
              </button>
            </div>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Pas encore membre ? <a class="link-danger" routerLink="/auth/sign-up">S'inscrire</a>
            </p>
          </div>
        </form>

        <!-- ALERT MESSAGES -->
        <app-alert></app-alert>
      </div>
    </div>
  </div>
</section>
